.back-grounding{
  background: #1D3B55;
  position: relative;
  top: -16px;
  width: 1520px;
  height: 500px;
}
.loginpage_12{
  background: linear-gradient(268.46deg, #000000 3.77%, #f8efef 97.78%);
  position: relative;
  top: -16px;
  width: 1520px;
  height: 370px;
}